<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userCard</key>
	<dict>
		<key>Category</key>
		<integer>2</integer>
		<key>Name</key>
		<string>BHContactRouter</string>
		<key>Method</key>
		<string>router_openUserProfileVC:</string>
	</dict>
	<key>friendApplyList</key>
	<dict>
		<key>Category</key>
		<integer>2</integer>
		<key>Name</key>
		<string>BHContactRouter</string>
		<key>Method</key>
		<string>router_openFriendApplyList</string>
	</dict>
</dict>
</plist>
